* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
background-color: #0F172A;
}

header {
    padding: 34px 0;
    margin-bottom: 94px;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.navigation li {
    padding: 10px;
}

.navigation li a {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #F8FAFC;
    text-decoration: none;
}

.recent-projects {
    margin-bottom: 94px;
}

.container-small {
    max-width: 1150px;
    margin: 0 auto;
}

h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #F8FAFC;
    margin-bottom: 83px;
}

h2 span {
    color: #16B8F3;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 41px;
}

.card {
    background: rgba(30, 41, 59, 0.4);
    border-radius: 20px;
    padding: 34px 8px;
    display: flex;
    align-items: center;
    gap: 44px;
}

.card > div {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #F8FAFC;
}

.card p {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #CBD5E1;
}

.card div p:first-child {
    margin-bottom: 14px;
}

.latest-posts {
    margin-bottom: 139px;
}

.container-posts {
    max-width: 1440.05px;
    margin: 0 auto;
}

.posts {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
}

.post {
    background: rgba(30, 41, 59, 0.4);
    border-radius: 20px;
    width: 369px;
    height: 518px;
    justify-content: center;
}

.post h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #F8FAFC;
    padding: 10px;
}

.post p {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #F8FAFC;
    padding: 10px;
}

.post div p:first-child {
    margin-bottom: 14px;
    color: #9CA3AF;
}

footer {
    padding: 34px 0;
    margin-bottom: 62px;
}

h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #CBD5E1;
}

.line {
    margin-bottom: 57px;
}